@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50 font-sans;
  }
  h1, h2, h3, h4 {
    @apply font-display font-bold;
  }
}
